li{
    border-bottom: 1px solid #ccc;
}
header{
    background-color: rgb(12, 163, 163);
    font-size: 1rem;
}
input{
    margin-right: 10px;
    margin-left: 10px;
}

.coins-container {
    display: flex;
}
  
.coins-list {
    flex: 1;
}
  
.favorites-container {
    flex: 1;
    background-color: #2e4053;
}

.favorites-container ul {
    list-style-type: none;
  }

.favorites-container header{
    flex: 1;
    background-color: rgb(11, 105, 105);
}